name: Build & Push Frontend

on:
  push:
    branches: ["main"]

jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    env:
      HARBOR_REGISTRY: amdp-registry.skala-ai.com       # ex) harbor.example.com
      HARBOR_PROJECT: skala25a         # ex) skala
      IMAGE_NAME: oil-frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.HARBOR_REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            VITE_MAPTILER_KEY=${{ secrets.VITE_MAPTILER_KEY }}
            VITE_TWELVEDATA_KEY=${{ secrets.VITE_TWELVEDATA_KEY }}
          tags: |
            ${{ env.HARBOR_REGISTRY }}/${{ env.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.HARBOR_REGISTRY }}/${{ env.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
